bin/
.vs/
obj/

/bin/
/.vs/
/obj/

*.user
/CardFlipperGame/bin
/CardFlipperGame/bin/Debug
/CardFlipperGame/bin/Release
/CardFlipperGame/.vs
/CardFlipperGame/obj
/CardFlipperGame/packages
*.dll

*.pdb
*.hash
