bin/
.vs/
obj/
packages

/bin/
/.vs/
/obj/
/packages/

*.user
/CardFlipperGame/bin
/CardFlipperGame/bin/Debug
/CardFlipperGame/bin/Release
/CardFlipperGame/.vs
/CardFlipperGame/obj
/CardFlipperGame/packages
*.dll

*.pdb
*.hash
CardFlipperGame/.vs/CardFlipperGame/v16/.suo
CardFlipperGame/.vs/CardFlipperGame/v16/.suo
