<div class="gamecard-box">
    @if (this.Card.IsFaceUp || this.Card.IsMatched)
    {
        <div class="gamecard-displayingside gamecard-inner">
            <span class="gamecard-text">@this.Card.DisplayText</span>
        </div>
    }
    else
    {
        <div class="gamecard-hidingside gamecard-inner">
            <span class="gamecard-text" @onclick="FlipFaceUp">@this.Card.BackSideText</span>
        </div>
    }
</div>

@code
{
    [Parameter]
    public CardData Card { get; set; }

    [Parameter]
    public Func<bool> AllowedToFlipUp { get; set; }

    [Parameter]
    public Func<CardData, Task> OnFlippedUp { get; set; }

    public void FlipFaceUp()
    {
        if (this.AllowedToFlipUp?.Invoke() == true)
        {
            this.Card.IsFaceUp = true;
            base.StateHasChanged();
            this.OnFlippedUp?.Invoke(this.Card);
        }
    }
}
