<div class="game-container container">
    <div class="row">
        @foreach (var mode in PairsToMatch)
        {
            var m = mode;
            <div class="col-3">
                <div class="gamecard-box">
                    <div class="gamecard-hidingside gamecard-inner">
                        <span class="btn gamecard-text" @onclick="() => OnSelectionMade?.Invoke(m)">@mode</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

    private readonly int[] PairsToMatch =
    {
        // Keeping it simple for now
        4, 16, 36
    };

    [Parameter]
    public Action<int> OnSelectionMade { get; set; }
}
