<div class="game-container container">
    <div class="row">
        @for (int i = MinCards; i <= MaxCards; i++)
        {        
            var cards = i;
            <div class="col-4">
                <div class="gamecard-box">
                    <div class="gamecard-hidingside gamecard-inner">
                        <span class="btn gamecard-text" @onclick="() => OnSelectionMade?.Invoke(cards, 1)">@i</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

    private const int MinCards = 2;
    private const int MaxCards = 9;

    [Parameter]
    public Action<int, int> OnSelectionMade { get; set; }
}
