<div class="gamecard-box">
    @if (this.IsFaceUp)
    {
        <div class="gamecard-displayingside gamecard-inner">
            <span class="gamecard-text">@this.DisplayedSide</span>
        </div>
    }
    else
    {
        <div class="gamecard-hidingside gamecard-inner">
            <span class="gamecard-text" @onclick="FlipFaceUp">@this.HiddenSide</span>
        </div>
    }
</div>

@code
{
    public const string DefaultText = "?";

    [Parameter]
    public bool IsFaceUp { get; set; }

    [Parameter]
    public string HiddenSide { get; set; } = DefaultText;

    [Parameter]
    public string DisplayedSide { get; set; } = DefaultText;

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Func<bool> AllowedToFlipUp { get; set; }

    [Parameter]
    public Func<CardDisplay, Task> OnFlippedUp { get; set; }

    public void FlipFaceUp()
    {
        if (this.AllowedToFlipUp?.Invoke() == true)
        {
            this.IsFaceUp = true;
            base.StateHasChanged();
            this.OnFlippedUp?.Invoke(this);
        }
    }

    public void FlipFaceDown()
    {
        this.IsFaceUp = false;
    }
}
