<div class="gamecard-box" @onclick="Flip">
    @if (this.IsHiding)
    {
        <div class="gamecard-hidingside gamecard-inner">
            <span class="gamecard-text">@this.HiddenSide</span>
        </div>
    }
    else
    {
        <div class="gamecard-displayingside gamecard-inner">
            <span class="gamecard-text">@this.DisplayedSide</span>
        </div>
    }
</div>

@code
{
    [Parameter]
    public bool IsHiding { get; set; } = true;

    [Parameter]
    public string HiddenSide { get; set; } = "?";

    [Parameter]
    public string DisplayedSide { get; set; } = "?";

    public void Flip()
    {
        this.IsHiding = !this.IsHiding;
    }
}
