<div class="gamecard-box">
    @if (this.IsHiding)
    {
        <div class="gamecard-hidingside gamecard-inner">
            <span class="gamecard-text" @onclick="FlipFaceUp">@this.HiddenSide</span>
        </div>
    }
    else
    {
        <div class="gamecard-displayingside gamecard-inner">
            <span class="gamecard-text">@this.DisplayedSide</span>
        </div>
    }
</div>

@code
{
    public const string DefaultText = "?";

    [Parameter]
    public bool IsHiding { get; set; } = true;

    [Parameter]
    public string HiddenSide { get; set; } = DefaultText;

    [Parameter]
    public string DisplayedSide { get; set; } = DefaultText;

    [Parameter]
    public CardGrid Grid { get; set; }

    public async Task FlipFaceUp()
    {
        if (!this.Grid.IsWaiting)
        {
            this.IsHiding = false;
            base.StateHasChanged();
            await this.Grid.CheckForMatch(this);
        }
    }

    public void FlipFaceDown()
    {
        this.IsHiding = true;
    }
}
