@using BlazorDownloadFile
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime

@if (this.CurrentGameState != null)
{
    <div>
        <button class="btn newgamebtn" @onclick="DownloadSaveGame"><h2>Save current game</h2></button>
    </div>
}

@code {

    [Parameter]
    public GameState CurrentGameState { get; set; }

    [Inject]
    IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

    private async Task DownloadSaveGame()
    {
        if (this.CurrentGameState != null)
        {
            string fileContent = JsonConvert.SerializeObject(this.CurrentGameState);

            await BlazorDownloadFileService.DownloadFileFromText("cardflipper.json", fileContent, "json");
        }
    }
}
