@using Newtonsoft.Json
@inject IJSRuntime JSRuntime

<div>
    @*
       File uploads in client-side webassembly are not feesable right now.
       If this has been made as a server-side application, it would have been simple.
       But since it was supposed to be a simple game, making it run entirely client side seemed a good idea.
    *@
    <input placeholder="JSON Text Here" @bind="priorGame" />
    <button @onclick="ReadText"><h3>Continue previous game</h3></button>
</div>

@code {
    private string priorGame;

    [Parameter]
    public Action<GameState> OnGameLoaded { get; set; }

    private void ReadText()
    {
        if (!string.IsNullOrEmpty(priorGame))
        {
            GameState state = JsonConvert.DeserializeObject<GameState>(priorGame);
            this.OnGameLoaded?.Invoke(state);
        }
    }
}
